<IfModule mod_rewrite.c>
    Options -MultiViews -Indexes
    RewriteEngine On
    RewriteBase /
    # RewriteBase /backend/

    # Transmettre le header Authorization à PHP
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%1]

    # 1 Servir fichiers statiques (CSS, JS, images)
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # 2 Toutes les routes API Laravel → index.php
    RewriteRule ^api/(.*)$ index.php [L,QSA]

    # 3 Tout le reste → React build
    RewriteRule ^ front/index.html [L]
</IfModule>